:root {
  --mainBlack: #1a262b;
  --mainRed: #ba2632;
  --mainGrey: #2a3d45;
  --mainWhite: #ecebe4;
}
html {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--mainBlack);
  min-height: 100vh;
  min-width: 300px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.container {
  margin: 1% 15%;
  text-align: center;
}

.langs-nav {
  display: flex;
  justify-content: center;
}

.langs-nav__item {
  font-weight: bold;
  list-style-type: none;
  margin-left: 1.5rem;
  overflow-x: hidden;
}

.popular-body {
  margin-top: 3rem;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.popular-list__item {
  margin: 1.5rem;
  text-align: center;
}

.profile-details--spacing {
  margin-bottom: 0.2rem;
}

.profile-rank {
  margin-bottom: 1.7rem;
}

.profile-details__avatar, .battle-profile__avatar {
  width: 9.5rem;
  border-radius: 100%;
}

.main-nav {
  display: flex;
}

.main-nav__item {
  margin-left: 1.5rem;
}
.main-nav__item a {
  color: var(--mainRed);
}

.main-nav__item--active {
  font-weight: bold;
}

.home-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 15rem;
  padding: 0.8rem 0;
  border-radius: 10px;
  text-align: center;
  color: var(--mainWhite);
  font-weight: bold;
  background-color: var(--mainGrey);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s linear;
}

.button:hover,
.button:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.button:active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transform: scale(0.96) translateY(2px);
}

.home-button--spacing {
  margin: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.battle-column {
  display: flex;
  flex-direction: column;
  width: 31rem;
  align-items: center;
  margin-top: 1.5rem;
}

.battle-form__input {
  border-radius: 3px;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 80%;
}

.battle-form__header {
  text-align: center;
  font-size: 2rem;
}

.submit-button--spacing {
  margin: 1rem;
}

.battle-profile__username {
  font-size: 1.5rem;
  font-weight: bold;
}

.button--reset-button {
  background-color: var(--mainRed);
}

.battle-profile__username, .battle-profile__avatar, .button--reset-button {
  margin-bottom: 1.2rem;
}

.battle-button-wrapper {
  margin: 0 auto;
}

.battle-button-wrapper a {
  color: var(--mainWhite);
}
